<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Habits Tracker</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Today
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="edit">
                <span class="bi bi-edit-nav-menu" aria-hidden="true"></span> Edit
            </NavLink>
        </div>
    </nav>
</div>

